<% if flash[:success].present? %>
	<div id="flash-success"><%= flash[:success] %></div>
<% end %>
<% if flash[:danger].present? %>
	<div id="flash-danger"><%= flash[:danger] %></div>
<% end %>
<div id="conteudo">
	<div id="cabecalho">
		<div id="cabecalho-pagina">
			<input id="manga-titulo-editar" type="text" name="titulo" form="confirmar" placeholder="Título do mangá" value="<%= @manga.titulo %>">
			<% if @manga.finalizado %>
				<select id="manga-status-editar" form="confirmar" name="finalizado">
					<option value="true" selected>Finalizado</option>
					<option value="false">Em andamento</option>
				</select>
			<% else %>
				<select id="manga-status-editar" form="confirmar" name="finalizado">
					<option value="true">Finalizado</option>
					<option value="false" selected>Em andamento</option>
				</select>
			<% end %>
		</div>
		<div id="ver-manga-controles">
			<form id="confirmar" class="formulario-controle" action="<%= atualizar_manga_path %>" method="post" enctype="multipart/form-data">
				<%= token_tag %>
				<input form="confirmar" type="hidden" name="manga_id" value="<%= @manga.id %>">
				<button form="confirmar" type="submit" id="botao-editar">Salvar</button>
			</form>
			<form id="cancelar" class="formulario-controle" action="<%= ver_manga_path(@manga.id) %>" method="get">
				<button form="cancelar" type="submit" id="botao-excluir">Cancelar</button>
			</form>
		</div>
	</div>
	<div id="apresentacao-manga-editar">
		<div id="imagem-container">
			<% if @manga.capa.present? %>
				<img id="capa-manga" src="<%= @manga.capa.path %>">
			<% else %>
				<img id="capa-manga" src="/dummy.png">
			<% end %>
			<div id="capa-cover">
				<input id="input-capa" form="confirmar" type="file" name="capa" hidden>
				<button id="botao-trocar-capa">Trocar capa</button>
			</div>
		</div>
		<div id="descricao">
			<div id="descricao-cabecalho">
				Descrição
			</div>
			<textarea form="confirmar" name="descricao" id="editar-descricao" placeholder="Descrição do mangá"><%= @manga.descricao %></textarea>
		</div>
	</div>
</div>