<% if flash[:success].present? %>
	<div id="flash-success"><%= flash[:success] %></div>
<% end %>
<% if flash[:danger].present? %>
	<div id="flash-danger"><%= flash[:danger] %></div>
<% end %>
<div id="conteudo">
	<div id="cabecalho">
		<div id="cabecalho-pagina">
			<div id="titulo">
				<div id="titulo-texto">
					Editar capítulo
				</div>
			</div>
			<div id="status-pagina"><%= @capitulo.manga.titulo.capitalize %> - <%= @capitulo.titulo %></div>
		</div>
	</div>
	<div id="formulario-editar-capitulo">
		<div id="grupo-input">
			<form id="salvar-capitulo" action="<%= atualizar_capitulo_path %>" method="post" enctype="multipart/form-data" hidden>
				<%= token_tag %>
				<input id="seletor-imagens" form="salvar-capitulo" type="file" name="paginas[]" multiple hidden>
				<input type="hidden" name="capitulo_id" value="<%= @capitulo.id %>">
			</form>
			<input id="titulo-capitulo" form="salvar-capitulo" type="text" name="titulo" placeholder="Título do capítulo" value="<%= @capitulo.titulo %>">
			<button id="escolher-paginas">Adicionar páginas</button>	
		</div>
		<div id="paginas-container">
			<% if @capitulo.paginas.present? %>
				<% @capitulo.paginas.order(:sequencia).each do |pagina|%>
					<div class="pagina-capitulo" draggable="true">
						<img class="pagina-capitulo-imagem" src="<%= pagina.path %>">
						<div class="pagina-capitulo-cover"><%= pagina.sequencia %></div>
						<div class="pagina-remover">X</div>
						<input type="hidden" name="sequencia_paginas[]" form="salvar-capitulo" value="<%= pagina.sequencia_data %>">
					</div>
				<% end %>
			<% end %>
		</div>
		<div id="controles">
			<form id="cancelar-edicao" action="<%= ver_capitulo_path(@capitulo.id) %>" method="get" hidden></form>
			<button form="salvar-capitulo" type="submit" id="botao-salvar">Salvar</button>
			<button form="cancelar-edicao" type="submit" id="botao-cancelar">Cancelar</button>
		</div>
	</div>
</div>