<% if flash[:success].present? %>
	<div id="flash-success"><%= flash[:success] %></div>
<% end %>
<% if flash[:danger].present? %>
	<div id="flash-danger"><%= flash[:danger] %></div>
<% end %>
<div id="conteudo">
	<div id="cabecalho">
		<div id="cabecalho-pagina">
			<div id="titulo">
				<div id="titulo-texto">
					<%= @manga.titulo %>
				</div>
			</div>
			<div id="status-pagina"><%= @capitulo.titulo %> - Página <%= @pagina.sequencia %></div>
		</div>
		<div id="ler-manga-controles">
			<button id="botao-zoom-mais">+</button>
			<button id="botao-zoom-menos">-</button>
		</div>
	</div>
	<div id="leitor-manga">
		<img id="pagina-imagem" src="<%= @pagina.path %>">
		<div id="proxima-pagina">
			<a href="<%= ler_manga_path(@manga.id,@capitulo.sequencia,@pagina.sequencia+1) %>" hidden></a>
		</div>
		<div id="pagina-anterior">
			<% if @pagina.sequencia > 1 %>
				<a href="<%= ler_manga_path(@manga.id,@capitulo.sequencia,@pagina.sequencia-1) %>" hidden></a>
			<% else %>
				<a href="<%= ver_manga_path(@manga.id) %>" hidden></a>
			<% end %>
		</div>
	</div>
</div>