<div id="conteudo">
	<div id="cabecalho">
		<div id="cabecalho-pagina">
			<div id="titulo-pagina"><%= @manga.titulo %></div>
			<% if @manga.finalizado %>
				<div id="status-pagina">Finalizado</div>
			<% else %>
				<div id="status-pagina">Em andamento</div>
			<% end %>
		</div>
		<div id="ver-manga-controles">
			<form class="formulario-controle" action="<%= editar_manga_path(@manga.id) %>" method="get">
				<button id="botao-editar">Editar</button>
			</form>
			<form class="formulario-controle" action="<%= excluir_manga_path %>" method="post">
				<%= token_tag %>
				<input type="hidden" name="manga_id" value="<%= @manga.id %>">
				<button id="botao-excluir">Excluir</button>
			</form>
		</div>
	</div>
	<div id="apresentacao-manga">
		<div id="imagem-container">
			<img id="capa-manga" src="<%= @manga.capa_path %>">
			<% if @favorito.present? %>
				<div id="manga-favorito">
					<form id="desfavoritar" action="<%= desfavoritar_manga_path(@manga.id) %>" method="get"></form>
				</div>
			<% else %>
				<div id="manga-nao-favorito">
					<form id="favoritar" action="<%= favoritar_manga_path(@manga.id) %>" method="get"></form>
				</div>
			<% end %>
		</div>
		<div id="lista-capitulos">
			<div id="lista-cabecalho">
				<div id="lista-titulo">Capítulos</div>
				<form class="formulario-controle" action="<%= novo_capitulo_path(@manga.id)%>" method="get">
					<button id="botao-novo-capitulo">Novo capítulo</button>	
				</form>
			</div>
			<div id="capitulos-container">
				<% if @capitulos.present? %>
					<% @capitulos.each do |capitulo| %>
						<div class="capitulo">
							<%= capitulo.titulo %>
							<form action="<%= ver_capitulo_path(capitulo.id) %>" method="get" hidden>
							</form>		
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>