<% if flash[:success].present? %>
	<div id="flash-success"><%= flash[:success] %></div>
<% end %>
<% if flash[:danger].present? %>
	<div id="flash-danger"><%= flash[:danger] %></div>
<% end %>
<div id="conteudo">
	<div id="cabecalho">
		<div id="cabecalho-pagina">
			<div id="titulo">
				<div id="titulo-texto">
					<%= @capitulo.manga.titulo.capitalize %> - <%= @capitulo.titulo %>
				</div>
			</div>
			<div id="status-pagina"><%= @capitulo.paginas.count %> páginas</div>
		</div>
		<% if @autorizado %>
			<div id="ver-manga-controles">
				<form id="editar" action="<%= editar_capitulo_path(@capitulo.id) %>" method="get" hidden></form>
				<form id="excluir" action="<%= excluir_capitulo_path %>" method="post" hidden>
					<%= token_tag %>
					<input type="hidden" name="capitulo_id" value="<%= @capitulo.id %>">
				</form>
				<button form="editar" id="botao-editar">Editar</button>
				<button id="botao-excluir">Excluir</button>
				<div class="modal-exclusao-escondido" hidden>
					<div class="modal-exclusao-card">
						<div class="modal-exclusao-header">
							Confirmar exclusao
						</div>
						<div class="modal-exclusao-body">
							Deseja excluir o capitulo "<%= @capitulo.titulo %>"?
						</div>
						<div class="modal-exclusao-footer">
							<button class="modal-confirmar-exclusao">Excluir</button>
							<button class="modal-cancelar-exclusao">Cancelar</button>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<div id="conteudo_ver_capitulo">
		<% if @capitulo.paginas.present? %>
			<% @capitulo.paginas.order(:sequencia).each do |pagina| %>
				<div class="pagina">
					<img class="pagina-imagem" src="<%= pagina.path %>">
					<div class="pagina-cover"><%= pagina.sequencia %></div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>