<% if flash[:success].present? %>
	<div id="flash-success"><%= flash[:success] %></div>
<% end %>
<% if flash[:danger].present? %>
	<div id="flash-danger"><%= flash[:danger] %></div>
<% end %>
<div id="conteudo">
	<div id="cabecalho">
		<div id="cabecalho-pagina">
			<div id="titulo">
				<div id="titulo-texto">
					<%= @manga.titulo %>
				</div>
			</div>
			<% if @manga.finalizado %>
				<div id="status-pagina">Finalizado</div>
			<% else %>
				<div id="status-pagina">Em andamento</div>
			<% end %>
		</div>
		<% if @autorizado %>
			<div id="ver-manga-controles">
				<form id="editar" action="<%= editar_manga_path(@manga.id) %>" method="get" hidden></form>
				<form id="excluir" action="<%= excluir_manga_path %>" method="post" hidden>
					<%= token_tag %>
					<input type="hidden" name="manga_id" value="<%= @manga.id %>">
				</form>
				<button form="editar" id="botao-editar">Editar</button>
				<button id="botao-excluir">Excluir</button>
				<div class="modal-exclusao-escondido" hidden>
					<div class="modal-exclusao-card">
						<div class="modal-exclusao-header">
							Confirmar exclusao
						</div>
						<div class="modal-exclusao-body">
							Deseja excluir o mangá "<%= @manga.titulo %>"?
						</div>
						<div class="modal-exclusao-footer">
							<button class="modal-confirmar-exclusao">Excluir</button>
							<button class="modal-cancelar-exclusao">Cancelar</button>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<div id="apresentacao-manga">
		<div id="imagem-container">
			<% if @manga.capa.present? %>
				<img id="capa-manga" src="<%= @manga.capa.path %>">
			<% else %>
				<img id="capa-manga" src="/dummy.png">
			<% end %>
			<% if @favorito.present? %>
				<div class="manga-favorito">
					<form id="desfavoritar" action="<%= desfavoritar_manga_path(@manga.id) %>" method="get"></form>
				</div>
			<% else %>
				<div class="manga-nao-favorito">
					<form id="favoritar" action="<%= favoritar_manga_path(@manga.id) %>" method="get"></form>
				</div>
			<% end %>
		</div>
		<div id="lista-capitulos">
			<div id="lista-cabecalho">
				<div id="lista-titulo">Capítulos</div>
				<% if @autorizado %>
					<form id="novo-capitulo" action="<%= novo_capitulo_path(@manga.id)%>" method="get" hidden>
					</form>
					<button form="novo-capitulo" id="botao-novo-capitulo">Novo capítulo</button>	
				<% end %>
			</div>
			<div id="capitulos-container">
				<% if @capitulos.present? %>
					<% @capitulos.each do |capitulo| %>
						<div class="capitulo">
							<%= capitulo.titulo %>
							<form action="<%= ver_capitulo_path(capitulo.id) %>" method="get" hidden>
							</form>		
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>