<!DOCTYPE html>
<html>
  <head>
    <title>Projeto2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="menu">
      <% if current_usuario.present? %>
        <a class="menu-link" href="<%= meus_mangas_path %>">Meus mangás</a>
        <a class="menu-link" href="<%= favoritos_path %>">Favoritos</a>
        <a class="menu-link" href="<%= buscar_manga_path %>">Buscar mangás</a>
        <form class="menu-logout-form" action="<%= destroy_usuario_session_path %>" method="delete" data-turbo-method="delete">
          <button class="menu-logout-button" type="submit">Logout</button>
        </form>
      <% else %>
        <a class="menu-link" href="<%= new_usuario_session_path %>">Login</a>
        <a class="menu-link" href="<%= new_usuario_registration_path %>">Cadastro</a>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
